[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CovidMutations"]
	path = CovidMutations
	url = https://github.com/msq-123/covidmutations
[submodule "chromseq"]
	path = chromseq
	url = https://github.com/msq-123/chromseq
